@import url("../Content/font-awesome.min.css");

#mainbody {
    background-color: white;
    color: #1E363A;
    background-image: none;
    text-align: center;
}

.hubtable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;

    td {
        width: 50%;
    }
}

button.hubutton {
    font-size: 16px;
    width: 90%;
    background-color: white;
    color: #1E363A;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 100px;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid #0B697F;
    color: #1E363A;

    &:focus {
        outline: none !important;
    }

    i {
        font-size: 30pt;
        color: #0B697F;
        margin-bottom: 10px;
    }
}

#scanLogoHeader {
    height: 40px;
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
}

#scanLogoIndex {
    margin-top: 65%;
}


#signInButton {
    left: 20%;
    bottom: 10px;
    position: absolute;
    height: 50px;
    width: 60%;
}

#signInForm {
    margin-top: 75%;

    input {
        font-size: 14pt;
        padding: 3px;
        width: 250px;
        margin-bottom: 15px;
        border-radius: 7px;
        border-style: none;
        border: 1px solid #1E363A;
    }

    button[type=submit] {
    }
}

.BarcodeButton {
    height: 100px;
    color: white;
    background-color: rgba(30, 54, 58, 0.78);
    border: none;
    border-radius: 10px;
    width: 100%;

    i {
        font-size: 50pt;
    }

    h1 {
        font-size: 20pt;
        padding-left: 20px;
        display: inline-block;
    }
}


.userForm {
    padding: 0 5px;

    fieldset {
        /*border-style: solid;
        border-color: #1E363A;
        border-radius: 10px;*/
        border: none;
    }

    .formTable {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 550px;

        td {
            padding: 10px 5px;


            /*.addBarcodeButton {
                height: 100px;
                color: white;
                background-color: rgba(30, 54, 58, 0.78);
                border: none;
                border-radius: 10px;
                width: 100%;

                i {
                    font-size: 50pt;
                }

                h1 {
                    font-size: 20pt;
                    padding-left: 20px;
                    display: inline-block;
                }
            }*/

            .formSubmit {
                height: 90px;
                width: 45%;
                border: none;
                color: #005200;
                background-color: rgba(74, 232, 108, 0.76);
                border-radius: 10px;

                i {
                    font-size: 40pt;
                }

                h1 {
                    font-size: 18pt;
                }
            }

            .formCancel {
                width: 45%;
                margin-left: 28px;
                background-color: rgba(232, 74, 74, 0.76);
                color: #520000;
                border: none;
                height: 90px;
                border-radius: 10px;

                i {
                    font-size: 40pt;
                }

                h1 {
                    font-size: 18pt;
                }
            }

            input {
                width: 100%;
                height: 25px;
                font-size: 14pt;
                border: 1px solid #1E363A;
                border-radius: 5px;
                padding: 3px 0;

                &:focus {
                    outline: none !important;
                    border: 1px solid #0B697F;
                }
            }
        }
    }
}
