@import url("../Content/font-awesome.min.css");
#mainbody {
  background-color: white;
  color: #1E363A;
  background-image: none;
  text-align: center;
}
.hubtable {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
}
.hubtable td {
  width: 50%;
}
button.hubutton {
  font-size: 16px;
  width: 90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 100px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #0B697F;
  color: #1E363A;
}
button.hubutton:focus {
  outline: none !important;
}
button.hubutton i {
  font-size: 30pt;
  color: #0B697F;
  margin-bottom: 10px;
}
#scanLogoHeader {
  height: 40px;
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
}
#scanLogoIndex {
  margin-top: 65%;
}
#signInButton {
  left: 20%;
  bottom: 10px;
  position: absolute;
  height: 50px;
  width: 60%;
}
#signIn #signInForm {
  margin-top: 75%;
}
#signIn #signInForm input {
  font-size: 14pt;
  padding: 3px;
  width: 250px;
  margin-bottom: 15px;
  border-radius: 7px;
  border-style: none;
  border: 1px solid #1E363A;
}
#signIn #signInBarcode {
  height: 100px;
  color: white;
  background-color: rgba(30, 54, 58, 0.78);
  border: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#signIn #signInBarcode i {
  font-size: 50pt;
}
#signIn #signInBarcode h1 {
  font-size: 20pt;
  padding-left: 20px;
  display: inline-block;
}
.BarcodeButton:not(#signInBarcode) {
  height: 100px;
  color: white;
  background-color: rgba(30, 54, 58, 0.78);
  border: none;
  border-radius: 10px;
  width: 100%;
}
.BarcodeButton:not(#signInBarcode) i {
  font-size: 50pt;
}
.BarcodeButton:not(#signInBarcode) h1 {
  font-size: 20pt;
  padding-left: 20px;
  display: inline-block;
}
.userForm {
  padding: 0;
}
.userForm fieldset {
  /*border-style: solid;
        border-color: #1E363A;
        border-radius: 10px;*/
  border: none;
  padding: 0;
  margin: 0;
}
.userForm .formTable {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 550px;
}
.userForm .formTable td {
  padding: 0;
  /*.addBarcodeButton {
                height: 100px;
                color: white;
                background-color: rgba(30, 54, 58, 0.78);
                border: none;
                border-radius: 10px;
                width: 100%;

                i {
                    font-size: 50pt;
                }

                h1 {
                    font-size: 20pt;
                    padding-left: 20px;
                    display: inline-block;
                }
            }*/
}
.userForm .formTable td.inputTD {
  padding: 10px 5px;
}
.userForm .formTable td .formSubmit {
  height: 90px;
  width: 50%;
  border: none;
  color: #005200;
  background-color: rgba(74, 232, 108, 0.76);
  float: left;
  padding: 0;
}
.userForm .formTable td .formSubmit i {
  font-size: 40pt;
}
.userForm .formTable td .formSubmit h1 {
  font-size: 18pt;
}
.userForm .formTable td .formCancel {
  width: 50%;
  background-color: rgba(232, 74, 74, 0.76);
  color: #520000;
  border: none;
  height: 90px;
  padding: 0;
}
.userForm .formTable td .formCancel i {
  font-size: 40pt;
}
.userForm .formTable td .formCancel h1 {
  font-size: 18pt;
}
.userForm .formTable td input {
  width: 100%;
  height: 25px;
  font-size: 14pt;
  border: 1px solid #1E363A;
  border-radius: 5px;
  padding: 3px 0;
}
.userForm .formTable td input:focus {
  outline: none !important;
  border: 1px solid #0B697F;
}
#inventoryList,
#readersList {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
#inventoryList li,
#readersList li {
  padding: 3px 10px 5px;
  margin: 10px;
  color: #0B697F;
  background-color: #eee;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 7px;
  text-transform: none;
}
#inventoryList li .title,
#readersList li .title,
#inventoryList li .name,
#readersList li .name {
  font-weight: 600;
  font-size: 12pt;
  display: block;
}
#inventoryList li .author,
#readersList li .author,
#inventoryList li .barcode,
#readersList li .barcode {
  font-weight: normal;
  font-size: 10pt;
  display: block;
  padding-left: .5em;
}